{% extends "bigcard.html" %}
{% load static %}

{% block title %}
<title>Settings</title>
{% endblock %}

{% block scss %}
<link type="text/x-scss" href="{% static 'css/settings.scss' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block card-title %}
{{user.username}}'s Account
{% endblock %}

{% block incard %}
<h3>Shortcuts</h3>
<a href="{% url 'user-liked'%}">
  <h6>Liked Shortcuts</h6>
</a>


<h3>Connected Account</h3>
<p>
  {% if github_login %}
  Logged in with Github Account
  <a href="https://github.com/{{ github_login.extra_data.login }}/"
    target="_blank">{{ github_login.extra_data.login }}</a>
  {% elif google_login %}
  Logged in with Google Account
  <a href="https://google.com/{{ google_login.extra_data.access_token.screen_name }}/"
    target="_blank">{{ google_login }}</a>
  {% elif twitter_login %}
  Logged in with Twitter Account <a href="https://twitter.com/{{ twitter_login.extra_data.access_token.screen_name }}/"
    target="_blank">@{{ twitter_login.extra_data.access_token.screen_name }}</a>
  {% endif %}
</p>
<form method="post" {% if github_login %} 
  action="{% url 'social:disconnect' 'github' %}" {% elif google_login %}
  action="{% url 'social:disconnect' 'google' %}" {% elif twitter_login %}
  action="{% url 'social:disconnect' 'twitter' %}" {% endif %}>
  {% csrf_token %}
  <div id="delete-container">
    <button id="delete-account" type="submit">
      <img src="{% static 'assets/ui/warning.svg' %}" />
      <span>Disconnect My Account</span>
      <img src="{% static 'assets/ui/warning.svg' %}" />
    </button>
    <div id="safety-glass"></div>
  </div>
</form>

<!-- disconnect warning, initially hidden -->
<div id="disconnect-warning">
  <ul>Before you go, please note...</ul>
  <ul>Disconnecting <b>will</b>:
    <li>delete your lists of Likes, Saves, and Submitted Shortcuts (reconnecting will not recover this information)</li>
  </ul>
  <ul>Disconnecting <b>will not</b>:
    <li>delete your submitted Shortcuts (they will be listed as anonymous submissions)</li>
  </ul>
  <ul>Showcuts does not store emails, names, or other personal data.</ul>
  <button id="accept-delete">I Understand</button>
</div>
{% endblock %}