{% extends "bigcard.html" %}
{% load static %}

{% block card-title %}
Your Shortcuts
{% endblock %}

{% block incard %}
    {% if object_list %}
    <ul class='shortcut-list'>

      {% for shortcut in object_list %} 
      <li class="shortcut-link">
        <a href="{% url 'submit' %}/{{shortcut.iCloudID}}">{{shortcut.name}}</a>
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>No submitted shortcuts.</p>
      <p><a href="{% url 'submit' %}">Share a shortcut</a>!</p>
    {% endif %}       
{% endblock %}
