# a server socket file?
8001

# debug settings and private keys
showcuts/local_settings.py

# SQLite database
*.sqlite3
db.sqlite3

# pycache files
__pycache__/
share/process/__pycache__/
share/tests/__pycache__/
**/__pycache__/
**.pyc
*.pyc

# dev static files
share/static/
staticfiles/CACHE/
logging.txt

# DOCS
_build
_static
_templates
