{% extends "base_generic.html" %}
{% load static %}

{% block extra_static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock %}

{% block sidebar %}
{% include 'sidebar.html' with hidden=True %}
{% endblock %}

{% block content %}
{% include 'background.html' %}
<div class='big-card'>

  <span id='open' class='oncard'">
      <img src=" {% static 'assets/ui/menu-white.svg' %}" />
  </span>
  <h1>Login</h1>

  {% block incard %}
  <div class='flex'>
    <div class='brand-container'>
      <a href="{% url 'social:begin' 'github' %}?next={{ request.GET.next }}">
        <img class="brand-logo" src="{% static 'assets/branding/github.svg' %}" alt="Github" />
        <p>Github Login</p>
      </a>
    </div>
    <div class='brand-container'>
      <a href="{% url 'social:begin' 'twitter' %}?next={{ request.GET.next }}">
        <img class="brand-logo" src="{% static 'assets/branding/twitter.svg' %}" alt="Twitter" />
        <p>Twitter Login</p>
      </a>
    </div>
    <div class='brand-container'>
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.GET.next }}">
          <img class="brand-logo" src="{% static 'assets/branding/google.svg' %}" alt="Google" />
          <p>Google Login</p>
        </a>
      </div>
  </div>

  {% endblock %}
</div>
{% endblock %}