{% load static %}

<div class="action indent{{action.indent}} {{action.css_class|join:' '}}">
  {# UUID LINK #}
  <div class="hash" id="{{action.UUID}}"></div>

  <div class="row category">
    <img class="action-glyph" src="{% static action.glyph %}" />
    <div class="action-category">
      {{action.category}}
    </div>
  </div>
  
  {# COMMENT & TEXT ACTION STYLING #}
  {% if 'comment' in action.css_class or 'text' in action.css_class %}
  <div class="row {{action.css_class|join:' '}">
    {% for i in action.title %}
    {% include 'elements/inline.html' with elem=i %}
    {% endfor%}
  </div>

  {% else %}
  <div class="action-title {{action.css_class|join:' '}}">
    
    {# TITLE #}
    <span>
      {% for i in action.title %}
      {% include 'elements/inline.html' with elem=i %}
      {% endfor%}
    </spa>

    {# LINES #}
    {% spaceless %}
    {% if action.lines %}
    <div class="line-elems">
      {% for line in action.lines %}
      
      <div class="lower-line 
      {% if 'leftify' in line.class %}leftify{% endif %}
      {% if 'hidden' in line.class %}hidden{% endif %}
      ">
        <div class="line-label">{{line.label}}</div>
        {% include 'elements/inline.html' with elem=line %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endspaceless %}

    {# LIST ITEMS #}
    {% if action.list_items %}
    {% include 'elements/list.html' with list_items=action.list_items %}
    {% endif %}

    {# DICT ITEMS #}
    {% if action.dct %}
    {% include 'elements/dict.html' with items=action.dct %}
    {% endif %}
  </div>
  {% endif %}
  <!-- output -->
</div>

<!-- output magic var -->
{% if action.result %}
<div class="output hidden">
  <img class="output-glyph" src="{% static action.glyph %}" />
  {{action.result}}
</div>
{% endif %}