{% load static %}
{% load lookup %}

{# UNPACK INLINE VARIABLES #}
{% if 'inline-magic' in elem.class or 'list-inline-magic' in elem.class or 'inline-line' in elem.class or 'notes' in elem.class %}

<span class="{{elem.class|join:' '}}">
  {% for i in elem.value %}
  {% include 'elements/inline.html' with elem=i %}
  {% endfor%}
</span>

{% else %}


{# HASH LINK TO ACTION THAT PROVIDED RESULT #}
{% if elem.UUID %}
<a href="#{{elem.UUID}}">
  {% endif %}

  <span class="{{elem.class|join:' '}}">
    {% if elem.glyph %}
    <img class="inline-glyph" src="{% static elem.glyph %}" />
    {% endif %}

    {# PILL MENU #}
    {% if 'pill' in elem.class%}
    {% for i in elem.value %}
    <div class='{{i.class}}'>{{i.value}}</div>
    {% endfor %}

    {# COUNTER (-|+) #}
    {% elif 'counter' in elem.class%}
    <img src="{% static 'assets/ui/counter-minus.svg' %}" />
    <img src="{% static 'assets/ui/counter-plus.svg' %}" />
    
    {# CATCHALL #}
    {% else %}
    <span>&lrm;{{elem.value}}</span> {# SPAN SATISFIES SPACELESS TAG, LRM prevents spaces from disappearing #}
    {% endif %}
  </span>

  {% if elem.UUID %}
</a>
{% endif %}

{% endif %}