<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>Showcuts</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/icons/180.png' %}">
  <link rel="manifest" href="{% static 'manifest.json' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/icons/16.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/icons/32.png' %}">
  <link rel="icon" type="image/png" sizes="48x48" href="{% static 'assets/icons/48.png' %}">
  <link rel="icon" type="image/png" sizes="64x64" href="{% static 'assets/icons/64.png' %}">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/generic.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script defer src="{% static 'js/custom.js' %}"></script>
  <script defer src="{% static 'js/notify.js' %}"></script>
  {% block extra_static %}{% endblock %}
</head>

<body>
  <div id='notify' class='hack-centre-x pos-fix white--grey text-black--white'>
    <img id='nf-copy' src="{% static 'assets/ui/copy-to-clipboard.svg' %}"/>
    <img id='nf-logout' src="{% static 'assets/ui/copy-to-clipboard.svg' %}"/>
    <span id='nf-text'></span>
  </div>
  <!-- Sidebar -->
  {% block sidebar %}
  {% include 'sidebar.html' with hidden=True %}
  {% endblock %}

  {% block content %}
  {% endblock %}
</body>

</html>