{% extends 'base_generic.html' %}
{% load static %}


{% block sidebar %}
{% include 'sidebar.html' with hidden=False %}
{% endblock %}

{% block content %}
{% include 'background.html' %}
<div class="content transparent">
  <div class='big-card'>

    <span id='open' class='oncard'">
      <img src=" {% static 'assets/ui/menu-white.svg' %}" />
    </span>
    <h1>{% block card-title %}
      Card Title Goes Here
      {% endblock %}</h1>

    {% block incard %}
    there's supposed to be something here...
    {% endblock %}

    {% block pagination %}
    {% if is_paginated %}
    <div id="paginate">
      <span class="page-links">
        {% if page_obj.has_previous %}
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}"><img id='page-prev'
            src="{% static 'assets/ui/arrow-right.svg' %}" /></a>
        {% endif %}
        <span id="page-current">
          Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}"><img id='page-next'
            src="{% static 'assets/ui/arrow-right.svg' %}" /></a>
        {% endif %}
      </span>
    </div>
    {% endif %}
    {% endblock %}
  </div>
</div>
</div>
{% endblock %}