{% extends "base_generic.html" %}
{% load static %}

{% block title %}
<title>{{name}}</title>
{% endblock %}

{% block sidebar %}
{% include 'sidebar.html' with hidden=False %}
{% endblock %}

{% block content %}
<div class="content">

  <div class="header" id='SCtitle'>
    <div id="glyph-bg" style="background-color:rgb{{color_code}}">
      <img src="{% static 'assets/glyphs/wand.svg' %}"/>
    </div>
    <div class="sc-title" title="{{name}}">
      {{name}}
    </div>
    {% load static %}
  </div>
  <div id="action-container" class="article-container">
    <script src="{% static 'js/sticky.js' %}"></script>
    <div class="dummy">
      {% for action in action_blocks %}
      {% include 'action.html' with action=action UUID_glyphs=UUID_glyphs %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}