{% extends "base_generic.html" %}
{% load static %}

{% block title %}
<title>{{name}}</title>
{% endblock %}

{% block extra_static %}
<link rel="stylesheet" href="{% static 'css/view.css' %}">
<script defer src="{% static 'js/FileSaver.min.js' %}"></script>
<script defer src="{% static 'js/dom-to-image.min.js' %}"></script>
<script defer src="{% static 'js/screenshot.js' %}"></script>
{% endblock %}

{% block sidebar %}
{% include 'sidebar.html' with hidden=False %}
{% endblock %}

{% block content %}
<div class="content">
  <!-- header -->
  <div class="header" id='SCtitle'>
    <div class='floater'></div>
    <!-- open btn -->
    <span id='open'>
      {% if menu_icon %}
      <img src="{% static menu_icon %}" />
      {% else %}
      <img src="{% static 'assets/ui/menu.svg' %}" />
      {% endif %}
    </span>

    <div id="glyph-bg" style="background-color:rgb{{color_code}}">
      <img src="{% static 'assets/glyphs/wand.svg' %}" />
    </div>
    <div class="sc-title" title="{{name}}">
      {{name}}
    </div>
    <div class='floater'></div>
    <div class="align-5"></div>
  </div>
  <div class='floater'></div>
  <!-- header -->
  <!-- action container -->
  <div id="action-container" class="article-container">
    <div class="dummy">
      <!-- action extention accepted types -->
      {% if accepted_types %}
      <div class='action'>
        <div id='accepts'>Accepts</div>
        <div id='accepted-types'>{{accepted_types}}</div>
      </div>
      {% endif %}
      {% for action in action_blocks|slice:":100" %}
      {% include 'elements/action.html' with action=action UUID_glyphs=UUID_glyphs %}
      {% endfor %}
    </div>
    <div id='screenshot-mark'>
      <img src="{% static 'assets/logo/line.svg' %}" />
      <p>Showcuts</p>
    </div>
  </div>
  <!-- margin -->
  <div class='floater'></div>
  <!-- other links -->
  <div class="align-5"></div>
  <div class='tool-container'>
    <a href="{{iCloud_link}}" id='ios-download' title='Download from iCloud'>
      <div class='tool-btn expand'>
        <img src="{% static 'assets/ui/cloud-download-outline.svg' %}" />
        <p>iCloud</p>
      </div>
    </a>
    <a id='show-magic' title='Magic Variables'>
      <div class='tool-btn expand'>
        <img src="{% static 'assets/ui/wand.svg' %}" />
        <p>Magic Vars</p>
      </div>
    </a>
    <a id='screenshot' title='Export Image'>
      <div class='tool-btn expand'>
        <img src="{% static 'assets/ui/photo-square-white.svg' %}" />
        <p>Screenshot</p>
      </div>
    </a>
    <div id='info' title='Shortcut Info'>
      <div class='tool-btn' id='info-expand'>
        <img src="{% static 'assets/ui/info.svg' %}" />
      </div>
    </div>

    <!-- submission timestamp -->
    {% if owner.username == user.username %}
    <p>Submitted {{sc_age}} ago</p>
    {% elif owner.username %}
    <p>Submitted by {{owner.username}} {{sc_age}} ago</p>
    {% else %}
    <p>Submitted Anonymously {{sc_age}} ago</p>
    {% endif %}

    <!-- logged in buttons -->
    <div id="like" class="tool-btn line-art {{user.username|yesno:',disabled,'}} {{liked|yesno:'clicked,,'}}"
      title="{{user.username|yesno:'Like,Login to Like,'}}" hxid="{{hxid}}">
      <img src="{% static 'assets/ui/heart-fill.svg' %}" />
    </div>
    <p id="likes">{{likes}}</p>
    <div id="save" class='tool-btn line-art {{user.username|yesno:',disabled,'}}'
      title='{{user.username|yesno:'Save,Login to Save,'}}' hxid="{{hxid}}">
      <img src="{% static 'assets/ui/bookmark-fill.svg' %}" />
    </div>
  </div>
  {% if action_blocks|length > 100 %}
  {% with remainder=action_blocks|length|add:-100 %}
  <div class='fade-out'>
    <div class='gate-text'>{{remainder}} more action{{remainder|pluralize}}</div>
  </div>
  {% endwith %}
  {% endif %}
</div>
{% endblock %}