{% extends "base_generic.html" %}
{% load static %}
{% load premium %}

{% block title %}
<title>{{name}}</title>
{% endblock %}

{% block import_js %}
<!-- save-file-to-device library -->
<script src="{% static 'js/FileSaver.min.js' %}"></script>
<!-- DOM => Image library -->
<script src="{% static 'js/dom-to-image.min.js' %}"></script>
<!-- implementation of libraries to take "screenshot" -->
<script defer src="{% static 'js/screenshot.js' %}"></script>

<!-- QR Code Generator -->
<script src="{% static 'js/QR/qrcode.min.js' %}"></script>
<!-- iCloud links JS -->
<script defer src="{% static 'js/iCloud.js' %}"></script>

<!-- Context Menu Dependency -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
<!-- make elements editable DISABLLED--> 
<!-- <script defer src="{% static 'js/interactive.js' %}"></script> -->
{% endblock %}

{% block scss %}
<!-- show-shortcut specific CSS -->
<link type="text/x-scss" href="{% static 'css/view.scss' %}" rel="stylesheet" media="screen">
<link type="text/x-scss" href="{% static 'css/magic.scss' %}" rel="stylesheet" media="screen">
<link type="text/x-scss" href="{% static 'css/right-menu.scss' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block sidebar %}
{% include 'sidebar.html' with hidden=False %}
{% endblock %}

{% block content %}
<div class="content grey--black">
  <!-- # header -->
  <div class="header grey--black" id='SCtitle'>

    <div class='floater'></div>

    <!-- ## open btn -->
    <span id='open'>
      {% if menu_icon %}
      <img class='invert' src="{% static menu_icon %}" />
      {% else %}
      <img class='invert' src="{% static 'assets/ui/menu.svg' %}" />
      {% endif %}
    </span>

    <!-- ## Shortcut Icon -->
    <div id="glyph-bg" style="background-color:rgb{{color_code}}">
      <img id='glyph-icon' class='hack-centre' src="{% static glyph_icon %}" />
    </div>

    <!-- ## Shortcut Name -->
    <div class="sc-title" title="{{name}}">
      {{name}}
    </div>

    <div class='floater'></div>
    <div class="align-5"></div>
  </div>
  <div class='floater grey--black'></div>

  <!-- # Shortcut Actions -->
  <div id="action-container" class="article-container">
    <!-- secondary name element, hidden behind the header, appears in screenshots -->
    <div class="sc-title" title="{{name}}" style="position:absolute;top:1.5rem;left:2rem;display: none;">{{name}}</div>
    <!-- # Dummy Container contains grey line pseudo-element (see CSS) -->
    <div class="dummy">
      <!-- ## Shows "Accepts: Images, Text, ..." if Shortcut is an action extension -->
      {% if accepted_types %}
      <div class='action'>
        <div id='accepts'>Accepts</div>
        <div id='accepted-types'>{{accepted_types}}</div>
      </div>
      {% endif %}

      <!-- ACTIONS -->
      <!-- limited to 100 for free users -->
      {% if premium %}
      {% for action in action_blocks %}
      {% include 'elements/action.html' with action=action UUID_glyphs=UUID_glyphs %}
      {% endfor %}
      {% else %}
      {% for action in action_blocks|slice:":100" %}
      {% include 'elements/action.html' with action=action UUID_glyphs=UUID_glyphs %}
      {% endfor %}
      {% endif %}

    </div>

    <!-- line art logo -->
    <div id='screenshot-mark' class='hack-centre-x'>
      <img class='invert' src="{% static 'assets/logo/line.svg' %}" />
      <p class='hack-centre-y'>Showcuts</p>
    </div>

  </div>
  <div class='floater'></div>
  <div class="align-5"></div>

  <!-- # Right Sidebar -->
  <div class='tool-container grey--black'>
    <!-- Magic Var: toggles visibility of magic variables -->
    <a id='show-magic' title='Magic Variables'>
      <div class='tool-btn expand'>
        <img class='invert' src="{% static 'assets/ui/wand.svg' %}" />
        <p class='txt-white--black'>Magic Vars</p>
      </div>
    </a>
    <a id='screenshot' title='Export Image'>
      <div class='tool-btn expand'>
        <img class='invert' src="{% static 'assets/ui/photo-square-white.svg' %}" />
        <p class='txt-white--black'>Screenshot</p class='txt-white--black'>
      </div>
    </a>
    {% if workflow_version < min_version %}
    <div id='info' title='Shortcut Info' class='js-toggle tool-btn bg-red' id='info-expand'>
      <img src="{% static 'assets/ui/warning-white.svg' %}" />
    </div>
    {% else %}
    <div id='info' title='Shortcut Info' class='js-toggle tool-btn' id='info-expand'>
      <img class='invert' src="{% static 'assets/ui/info.svg' %}" />
    </div>
    {% endif %}

    <p class="white--grey">
      <!-- submission timestamp -->
      {% if owner.username == user.username %}
      Submitted {{sc_age}} ago
      {% elif owner.username %}
      Submitted by {{owner.username}}{% if owner|has_group:"Premium" %}✪{% endif %} {{sc_age}} ago
      {% else %}
      Submitted Anonymously {{sc_age}} ago
      {% endif %}

      <!-- workflow client number -->
      {% if workflow_version < min_version %}<br /><br />This is an old shortcut, so some variables might be
      missing!{% endif %}
    </p>

    <div id="icloud" class="js-toggle tool-btn line-art bg-none" title='iCloud link'>
      <img class='invert' src="{% static 'assets/ui/cloud.svg' %}" />
    </div>
    <div>
      <a id="icloud-link" href='{{iCloud_link}}' class="sub-label" title='iCloud Link' target="_blank">
        <div class='flex'>
          <p class='txt-black--white'>Visit iCloud (iOS)</p>
          <img class='invert' src="{% static 'assets/ui/cloud-download.svg' %}" />
        </div>
      </a>
      <div id="icloud-copy" class='sub-label'>
        <div class='flex'>
          <p class='txt-black--white'>Copy iCloud Link</p class='txt-black--white'>
          <input id='iCloud-txt' style="position: fixed; top:-10rem;right:-10rem;" value='{{iCloud_link}}'></input>
          <img class='invert' src="{% static 'assets/ui/copy-to-clipboard.svg' %}" />
        </div>
      </div>
      <div id="icloud-qr" class="sub-label">
        <div class='flex'>
          <p class='txt-black--white'>Scan QR Code</p>
          <img class='invert' src="{% static 'assets/ui/QR.svg' %}" />
          <div id="qrcode" style="display:none;max-height: 100vh;max-width: 100vw;"></div>
          <script type="text/javascript">
            var qrcode = new QRCode(document.getElementById("qrcode"), {
              text: "{{iCloud_link}}",
              width: 512,
              height: 512,
              colorDark: "#000000",
              colorLight: "#ffffff",
              correctLevel: QRCode.CorrectLevel.H
            });
          </script>
        </div>
      </div>
    </div>
    <!-- logged in buttons -->
    <div id="like"
      class="like-btn tool-btn line-art bg-none {{user.username|yesno:',disabled,'}} {{liked|yesno:'clicked,,'}}"
      title="{{user.username|yesno:'Like,Login to Like,'}}" hxid="{{hxid}}">
      <img class='invert' src="{% static 'assets/ui/heart-fill.svg' %}" />
    </div>
    <p>{{likes}}</p>
    <div id="save" class="tool-btn line-art bg-none {{user.username|yesno:',disabled,'}}  {{saved|yesno:'clicked,,'}}"
      title='{{user.username|yesno:'Save,Login to Save,'}}' hxid="{{hxid}}">
      <img class='invert' src="{% static 'assets/ui/bookmark-fill.svg' %}" />
    </div>

    <!-- buttons for sharing to other sites -->
    <div id="xpost" class="js-toggle tool-btn line-art bg-none" title='Share Shortcut'>
      <img class='invert' src="{% static 'assets/ui/share.svg' %}" />
    </div>
    <div>
      <a id="reddit" href='http://{{request.get_host}}/share/reddit/{{hxid}}' class="sub-btn" title='Reddit'>
        <img src="{% static 'assets/branding/reddit.svg' %}" />
      </a>
      <a id="twitter"
        href='https://twitter.com/intent/tweet?text=https://showcuts.app/share/view/{{hxid}}%0ACheck%20out%20this%20Shortcut!'
        class="sub-btn" title='Tweet' target="_blank">
        <img src="{% static 'assets/branding/twitter.svg' %}" />
      </a>
    </div>
  </div>
  {% if action_blocks|length > 100 and not premium %}
  {% with remainder=action_blocks|length|add:-100 %}
  <div class='fade-out'>
    <div class='gate-text'>{{remainder}} more action{{remainder|pluralize}}</div>
  </div>
  {% endwith %}
  {% endif %}
</div>
{% endblock %}