{% load static %}
<script src="{% static 'js/custom.js' %}"></script>

<div id="mySidenav" class="sidenav closed {{ hidden|yesno:"hidden,," }}">
  <a href="javascript:void(0)" class="closebtn btn-container" id='closebtn'>
    <img id='close' src="{% static 'assets/ui/x.svg' %}" />
  </a>
  <a href="{% url 'submit' %}">
    <img id="logo" src="{% static 'assets/logo/named-transparent.png' %}" />
  </a>
  <a class="sidebar-link" href="#">Nothing</a>
  <a class="sidebar-link" href="#">To</a>
  <a class="sidebar-link" href="#">See</a>
  <a class="sidebar-link" href="#">Here</a>
</div>
