{% load static %}
<script src="{% static 'js/custom.js' %}"></script>

<div id="mySidenav" class="sidenav closed {{ hidden|yesno:"hidden,," }}">
  <a href="javascript:void(0)" class="closebtn btn-container" id='closebtn'>
    <img id='close' src="{% static 'assets/ui/x.svg' %}" />
  </a>
  <a href="{% url 'submit' %}">
    <div id="sidenav-logo">
      <img id="logo" src="{% static 'assets/logo/colored.svg' %}" />
      <p id="logo-text">Showcuts</p>
    </div>
  </a>
  {% if user.is_authenticated %}
    <a class='sidebar-heading' href="{% url 'user-settings'%}">{{ user.get_username }}</a>
    <a class='sidebar-link' href="{% url 'user-saved'%}">Saved</a>
    <a class='sidebar-link' href="{% url 'user-submitted'%}">Submitted</a>
    <a class='sidebar-link' href="{% url 'logout'%}?next=/">Logout</a>
    {% else %}
    <a class='sidebar-link' href="{% url 'login'%}?next={{request.path}}">Login</a>
    {% endif %}
  <a class='sidebar-heading' href="{% url 'about'%}">About</a>
  <a class='sidebar-heading' href="{% url 'coll-gallery'%}">Gallery</a>
</div>