{% extends "base_generic.html" %}
{% load static %}

{% block sidebar %}
{% include 'sidebar.html' with hidden=True %}
{% endblock %}
<!-- open btn -->

{% block content %}
{% include 'background.html' %}
<span id='open-fixed'">
  <img src="{% static 'assets/ui/menu-white.svg' %}" />
</span>

<a href="{% url 'submit' %}" class="centralize top">
  <img id="splash" src="{% static 'assets/logo/named-white.png' %}" />
</a>
<form action="" method="post" class="centralize">
  {% csrf_token %}
  {% for field in form %}
  {{field}}
  {% endfor %}
  <input id="icloud-submit" type="submit" value="Submit">
</form>
<div class="centralize form-error">{{form.errors.iCloudLink}}</div>

<!-- messing with animations -->
<div id='loading'>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 332.27 332.27"><defs><style>.cls-1,.cls-2{fill:none;}.cls-1{stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:11px;}</style></defs><title>line-square</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Layer_1-2-2" data-name="Layer 1-2"><path id="path1" class="cls-1" d="M64.59,178.38l-21,16.7a29.18,29.18,0,0,0,0,45.64l87.26,69.41a57,57,0,0,0,71,0l86.83-69a29.15,29.15,0,0,0,4.68-41,28.78,28.78,0,0,0-4.68-4.68l-87.26-69.41a57,57,0,0,0-71,0L99.25,150.85"/><circle class="cls-1" cx="166.35" cy="166.39" r="23"/><path id="path2" class="cls-1" d="M268.61,153.9l21-16.7a29.15,29.15,0,0,0,4.68-41,28.78,28.78,0,0,0-4.68-4.68L202.39,22.15a57,57,0,0,0-71,0l-86.82,69a29.18,29.18,0,0,0,0,45.64l87.26,69.41a57,57,0,0,0,71,0L234,181.47"/></g><rect class="cls-2" width="332.27" height="332.27"/></g></g></svg>
</div>
{% endblock %}