$sc-grey: rgb(238, 239, 243);
$magic-ink: rgb(13, 71, 216);
$dark-magic-ink: rgb(70, 158, 251);
$magic-empty: rgb(143, 172, 236);
$dark-magic-empty: rgb(50, 90, 130);
$deep-blue: rgb(27, 31, 91);
$magic-bg: rgb(236, 242, 255);
$dark-magic-bg: rgb(39, 43, 51);
$option-grey: rgb(230, 230, 230);
$dark-option-grey: rgb(61, 62, 66);
$dark-light-grey: rgb(124, 128, 136);
$output-blue: rgb(223, 228, 242);
$dark-output-blue: rgb(3, 9, 14);