/*
# Layout
*/

/* 
# # Centering
*/

.hack-centre, .hack-centre-x, .hack-centre-y {
    width: fit-content;
    width: -moz-fit-content;
    position: relative;
}

.hack-centre {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.hack-centre-x {
    transform: translateX(-50%);
    left: 50%;
}

.hack-centre-y {
    transform: translateY(50%);
    bottom: 50%;
}

.centre-x {
    margin: 0 auto 0 auto;
}

.centre-y {
    margin: auto 0 auto 0;
}

/* 
# # misc
*/

.flex {
    display: flex;
}

.pos-abs {
    position: absolute;
}
.pos-fix {
    position: fixed;
}

.rounded-s {
    border-radius: .5rem;
}
.rounded-m {
    border-radius: .5rem;
}
.pad-s{
    padding:.5rem;
}
.pad-m{
    padding:1rem;
}
/* 
# Background
*/

.bg-red {
    background-color: rgb(255, 75, 75)!important;
}

.bg-none {
    background: none!important;
}

/* 
# Light-- Dark styling
*/

@media (prefers-color-scheme: light) {
    /* 
    ## Background Colors
    */
    .white--black {
        background-color: white;
    }
    .white--grey {
        background-color: white;
    }
    .black--white {
        background-color: black;
    }
    .grey--black {
        background-color: var(--sc-grey);
    }
    .grey--grey {
        background-color: var(--sc-grey);
    }
    /* 
    ## Text Colors
    */
    .txt-white--black {
        color: white;
    }
    .txt-black--white {
        color: black;
    }
    /* 
    ## Border
    */
    .border-black--white {
        border: 1px solid black;
    }
}

@media (prefers-color-scheme: dark) {
    /* 
    ## Background Colors
    */
    .white--black {
        background-color: black;
    }
    .white--grey {
        background-color: rgb(35, 35, 35);
    }
    .black--white {
        background-color: white;
    }
    .grey--black {
        background-color: black;
    }
    .grey--grey {
        background-color: rgb(35, 35, 35);
    }
    /* 
    ## Text Colors
    */
    .txt-white--black {
        color: black!important;
    }
    .txt-black--white {
        color: white!important;
    }
    /* 
    ## Border
    */
    .border-black--white {
        border: 1px solid white;
    }
}

@media (prefers-color-scheme: dark) {
    .invert {
        filter: invert(1);
    }
}