@import "generic";

div {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.dummy::before {
  /* the line running through shortcuts */
  content: "";
  background-color: rgb(145, 150, 157);
  width: 3px;
  /* shorten the tail, due to hidden result elements */
  height: calc(100% - 2rem);
  top: 0;
  left: 50%;
  z-index: 0;
  position: absolute;
}
.not-implemented {
  margin: auto;
}
.magic {
  position: relative;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  color: $magic-ink;
  background-color: $magic-bg;
  border-radius: 0.5rem;
  font-weight: normal !important;
  /* super long URLs and text: */
  overflow-wrap: break-word;
  word-break: break-word;
  &.empty {
    color: $magic-empty;
  }
  .inline-glyph {
    position: relative;
    top: 0.2rem;
  }
}
/* keep line height consistent */

.inline-line,
.number {
  font-weight: 300;
  overflow-wrap: normal;
  white-space: nowrap;
  overflow-x: scroll;
}
.empty {
  color: lightgray;
}
.leftify {
  & > .line-label {
    flex: initial;
    padding-right: 0.5rem;
  }
  & > .inline-line {
    flex: 1 !important;
    /* overrides flex:initial, so that the content aligns nicely left */
  }
}
.choose {
  color: $magic-ink;
  font-weight: 300;
  flex: initial;
}
.blank {
  color: lightgray;
}

.comment > .row.category {
  background-color: rgb(245, 235, 210);
}
/* styling category row with bottom line */
.comment > .row.category,
.text > .row.category {
  border-radius: var(--action-corner) var(--action-corner) 0 0;
  margin: -1.2rem -1.2rem 1rem -1.2rem;
  /* 1.2 - 0.25 = 0.95 to bring it in-line with other blocks */
  padding: 0.95rem;
  border-bottom: 1px solid lightgray;
}
.text {
  margin-left: +0.2rem; // weird spacing issue
  margin-right: -0.2rem;
  div {
    overflow-wrap: break-word;
    word-break: break-word;
    max-height: 60vh;
    overflow-y: scroll;
  }
}
.indent1 {
  margin-left: calc(var(--indent) * 1);
}
.indent2 {
  margin-left: calc(var(--indent) * 2);
}
.indent3 {
  margin-left: calc(var(--indent) * 3);
}
.indent4 {
  margin-left: calc(var(--indent) * 4);
}
.indent5 {
  margin-left: calc(var(--indent) * 5);
}
.indent6 {
  margin-left: calc(var(--indent) * 6);
}
.indent7 {
  margin-left: calc(var(--indent) * 7);
}
.indent8 {
  margin-left: calc(var(--indent) * 8);
}

.action {
  @extend %white--grey;
  max-width: 31rem;
  border-radius: var(--action-corner);
  padding: var(--action-padding);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative;
  margin-bottom: var(--action-padding);
  line-height: 1.6;
  transition: 0.5s;
  -moz-transition: 0.5s;
  &.comment {
    background-color: rgb(251, 244, 232);
  }
  &.control {
    // for control flow blocks (if, repeat, etc.)
    .row.category {
      visibility: hidden;
      display: none;
    }
    .action-title {
      margin-top: -0.5rem;
      margin-bottom: -0.5rem;
    }
  }
}
.action-glyph,
.inline-glyph,
.output-glyph {
  border-radius: 0.3em;
  height: 1.5rem;
  width: 1.5rem;
}
.action-glyph {
  margin-right: 0.4rem;
}
.row .inline-glyph,
.output-glyph {
  position: relative;
  top: 0.2rem;
  margin-left: -0.15rem;
}
.lower-line .inline-glyph {
  position: relative;
  top: 0.25rem;
  margin-left: -0.15rem;
}

.action-title {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  overflow-wrap: break-word;
  word-break: break-word;
  &.flow {
    margin-top: -0.7rem;
    margin-bottom: -0.7rem;
  }
  .row {
    margin: 0;
  }
}
.list-inline-magic {
  .magic + .magic,
  .inline-magic + .magic,
  .magic + .inline-magic,
  .inline-magic + .inline-magic {
    display: inline;
  }
}
.action-category {
  color: rgba(147, 148, 150, 0.8);
  font-weight: 300;
  font-size: 1rem;
}

.category {
  margin: -0.25rem;
}

.dummy {
  position: relative;
}

/* line elements */
.line-elems {
  margin: 1rem -1.2rem -1.2rem -1.2rem;
  padding-left: 1.2rem;
  padding-right: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.lower-line {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.5rem 1.2rem 0.5rem 0;
  /* height: 3.4rem; */
  font-size: 1.2rem;
  display: flex;
  .magic,
  .text,
  a {
    flex: initial;
    @extend %centre-y;
  }
}

.choose,
.inline-line {
  flex: initial;
  margin: auto 0 auto 0;
}

.inline-line,
.notes {
  white-space: pre-wrap; // make sure that white space renders
  .magic {
    padding: 0.25rem;
  }
}

.code {
  .text {
    font-family: monospace;
  }
}

.lower-line:first-child,
.list-line:first-child {
  border-top: none !important;
}

.line-label {
  /* expands, unless the line elem needs to be aligned left */
  flex: 2.7;
  margin: auto;
  /* should be slightly thicker, but CSS doesn't allow it */
  font-weight: 400;
}

.line-label:empty {
  /* make room for the Not Implemented */
  flex: 0 0 0 !important;
  margin: 0 !important;
}

.toggle {
  /* 3:5 ratio */
  width: 4rem;
  flex: initial;
  border-radius: 999rem;
  height: 2.4rem;
  overflow: hidden;
  margin: -0.2rem 0; // similar to magic var, 2 rem height
  &.on {
    background-color: rgb(60, 197, 94);
    .slider {
      float: right;
    }
  }
  &.on:after {
    float: right;
  }
  &:after {
    content: "";
    width: 2.1rem;
    height: 2.1rem;
    margin: 0.15rem;
    border-radius: 50%;
    background-color: white;
    flex: initial;
    align-self: center;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }
  &.off {
    background-color: rgb(222, 222, 222);
  }
  &.off:after {
    float: left;
  }
  &.turning-on {
    background-color: rgb(42, 136, 65);
  }
}
.slider {
  width: 2.1rem;
  height: 2.1rem;
  margin: 0.15rem;
  border-radius: 50%;
  background-color: white;
  flex: initial;
  align-self: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

/* list styling */
.list-elem {
  margin: auto 0.3rem auto 0 !important;
}
.lower-line a {
  flex: initial;
}
.minus {
  width: 2rem;
  height: 2rem;
  margin-right: 0.7rem;
}
.dict-key,
.dict-value {
  /* fix "|" between key and dict */
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  white-space: nowrap;
  overflow: auto;
  div {
    /* creates horizontal scrolling */
    display: inline-block;
  }
}
.dict-key {
  flex: 2.7;
  /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}
.dict-value {
  white-space: nowrap;
  overflow: auto;
  /* white-space: nowrap;
    overflow: auto; */
  padding-left: 0.7rem;
  flex: 4;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}
.pill {
  @extend %centre-y;
  @extend %op-grey--grey;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: row;
  height: 1.6rem;
  overflow: hidden;
  &-off {
    margin: 0.3rem 0.1rem;
    padding: 0rem 0.5rem;
    & + .pill-off {
      border-left: thin lightgray solid;
    }
  }
  &-on {
    margin: 0.1rem 0.1rem;
    padding: 0.2rem 0.5rem;
    background-color: white;
    border-radius: 0.35rem;
    font-weight: 500;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
  }
  &-off,
  &-on {
    font-size: 0.9rem;
    line-height: 1rem;
    flex: auto;
  }
}
.counter {
  @extend %op-grey--grey;
  @extend %centre-y;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: row;
  height: 2rem;
  overflow: hidden;
  img {
    @extend .invert;
    margin: 0.5rem 0;
    height: 1rem;
    line-height: 1rem;
    padding: 0 1rem;
  }
  img:last-of-type {
    border-left: thin lightgray solid;
  }
}

a:hover {
  text-decoration: none;
}

/* show magic var output */
.output {
  @extend %fit-width;
  @extend %blue--blue;
  @extend %txt-black--white;
  @include transition(0.5s);
  //   background-color: $output-blue;
  bottom: -3rem;
  margin: 0 0 var(--action-padding) 50%;
  transform: translate(-50%, 0);
  border-radius: 0.5rem;
  padding: 0.1rem 0.4rem 0.2rem 0.4rem;
  white-space: nowrap;
  &.shown {
    visibility: visible;
    opacity: 100%;
  }
  &.hidden {
    visibility: hidden;
    opacity: 0%;
    height: 0 !important;
    margin-bottom: 0 !important;
  }
}

/* inline blocks */
.inline-magic {
  display: inline;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 0.15rem $magic-bg;
  background-color: $magic-bg;
  // line-height: 5rem;
  * {
    white-space: nowrap;
    word-break: keep-all;
  }
  .magic {
    background-color: $magic-bg-inline;
  }
  .text {
    @extend %txt-magic-ink;
  }
}
/* filters for filter action */
.filter {
  margin: auto 0;
  &-property {
    color: rgb(120, 115, 230);
  }
  &-operator {
    color: rgb(216, 75, 216);
  }
  &-benchmark {
    color: rgb(254, 68, 84);
  }
  &-unit {
    color: rgb(255, 102, 52);
  }
}

/* modded from 768 due to 35 rem default */
@media only screen and (max-width: 600px) {
  .action {
    max-width: auto;
  }
  #action-container {
    max-width: calc(100vw - 5rem);
    padding-left: 0;
    padding-right: 0;
  }
}
/* dark mode settings */
@media (prefers-color-scheme: dark) {
  .action {
    color: white;
  }
  .magic {
    color: $dark-magic-ink;
    background-color: $dark-magic-bg;
    &.empty {
      color: $dark-magic-empty;
    }
  }
  .inline-magic {
    box-shadow: 0 0 0 0.15rem $dark-magic-bg;
    background-color: $dark-magic-bg;
    .magic {
      background-color: $dark-magic-bg-inline;
    }
  }
  .choose {
    color: $dark-magic-ink;
  }
  .toggle.off {
    background-color: rgb(67, 68, 72);
  }

  .pill-on {
    background-color: $dark-light-grey;
  }
  .action.comment,
  .comment > .row.category {
    background-color: rgb(39, 37, 23);
    border-bottom: none;
  }
}
