@import "base";

.sc-title {
  color: black;
  font-size: 2.7rem;
  font-weight: bold;
  height: 3rem;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  flex: initial;
}

#action-container > .sc-title {
  width: inherit !important;
  white-space: normal;
}

/* arrangement elements */

.floater {
  flex: auto;
  z-index: -1;
}

.align-5 {
  width: 3rem;
  flex: initial;
}

/* right side buttons */

.tool-container {
  position: fixed;
  right: 0;
  top: 0;
  width: 3rem;
  z-index: 5;
}

/* disabled buttons */

div.disabled {
  opacity: 0.3;
  pointer-events: none;
}

/* blocked content for free users */

.fade-out {
  height: 20rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 5;
  background-image: linear-gradient(rgba(255, 255, 255, 0), white);
}

.gate-text {
  position: absolute;
  text-align: center;
  bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  font-size: 1.5rem;
}

/* action extensions */

#accepts {
  margin-right: 1.5rem;
  display: inline;
  font-weight: 500;
}

#accepted-types {
  display: inline;
  color: gray;
}

/* screenshot watermark */

#screenshot-mark {
  width: fit-content;
  width: -moz-fit-content;
  height: 5rem;
  margin-top: 1rem;

  img {
    @extend .invert;
    display: inline-block;
    height: 5rem;
  }

  p {
    @extend %txt-black--white;
    display: inline-block;
    font-size: 2rem;
  }
}

@media (prefers-color-scheme: dark) {
  .fade-out {
    background-image: linear-gradient(rgba(0, 0, 0, 0), black);
  }
  .sc-title,
  .gate-text {
    color: white;
  }
}
